h1,p {
    text-align: center;
    padding: 0 0 0 0;
}

h1{
    color: maroon;
    text-shadow: 2px 2px 4px black;
}

body {
    font-family: 'Della Respira', "Comic Sans MS", sans-serif;
    background-color: beige;
}

#game{
    padding-left: 25%;
}
