@font-face { font-family: Deadhand; src: url('/resources/fonts/treamd.ttf'); }

h1 {
    color: maroon;
    text-align: center;
    padding: 0px;
}

.text {
    color: maroon;
    font-family: Deadhand, "Comic Sans MS", serif;
}